*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.knowledges{
    display: flex;
    justify-content: space-between;
    
}
.knowledge{
    margin:50px;
}

.know2{
    margin:20px 0 0 0;
}
.know2 {
    display: flex; 
}
.know2 img{
    width:20px;
    height: 30px;
}
form input{ 
    margin-top: 20px;
    width:100%;
    height: 45px;
 
}
form a{
    text-decoration: none;

}


.know7 {
    text-align: center;
}
.know7 a{
    justify-content: space-between;
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 50%;
    color:black;
    text-align: inline-block;
    margin:15px;
    padding:15px; 
}
.know7 p{
    margin:30px;

}
.knowledge2{
    background: url(divphoto/knowledged3.jpg) no-repeat fixed center / cover;
    text-align: center;
    width:60%; 
    color:white; 
}
.knowledge2 img{
    width:300px;
    height: 400px;
    
}
.knowledge2{
    padding-top: 100px;
}
.submit{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.submit input{
    border-radius: 10px ;
    color:white;
    background-color: black;
    width:20%;
}